---
/**
 * SlidingText Component
 * Sliding text animation logic
 */
---

<div class="sliding-text-crop">
  <div class="btn-text-wrapper">
    <span class="btn-text-primary"><slot /></span>
    <span class="btn-text-secondary" aria-hidden="true"><slot /></span>
  </div>
</div>
